.DS_Store
*.[56789ao]
*.a[56789o]
*.so
*.pyc
._*
.nfs.*
[56789a].out
*~
*.orig
*.rej
*.exe
.*.swp
core
*.cgo*.go
*.cgo*.c
_cgo_*
_obj
_test
_testmain.go
build.out
test.out
doc/articles/wiki/*.bin
misc/cgo/life/run.out
misc/cgo/stdio/run.out
misc/cgo/testso/main
src/cmd/*/y.output
src/cmd/cgo/zdefaultcc.go
src/cmd/go/zdefaultcc.go
src/cmd/internal/obj/zbootstrap.go
src/go/doc/headscan
src/runtime/zversion.go
src/unicode/maketables
src/*.*/
test/pass.out
test/run.out
test/times.out
test/garbage/*.out
goinstall.log
last-change
VERSION.cache

bin/
pkg/
/#Makefile#
/build/
/doc/go1.5.txt.BACKUP.101173.txt
/doc/go1.5.txt.BASE.101173.txt
/doc/go1.5.txt.LOCAL.101173.txt
/doc/go1.5.txt.REMOTE.101173.txt
/src/#Makefile.image#
/src/#make.bash#
/src/#mdupont.txt#
/src/.#mdupont.txt
/src/cmd/cgo/ast.go.dump.ast
/src/cmd/dist/#buildtool.go#
/src/cmd/dist/dist
/src/cgox
/src/dep.txt
/src/gocc
/src/lib.h
/src/mdupont.txt
/src/sometest.s
/src/test123.go
/src/total.go
/src/Makefile.image.txt
/src/total.txt
